.page-head {
  height: 500px;
  background-color: #3d04c4;
  position: relative;
  padding: 8rem;
  font-size: 3.5rem;
  font-weight: bold;
  // overflow-x: hidden;
  @media (max-width: 1000px) {
    font-size: 2.5rem;
  }
  @media (max-width: 600px) {
    font-size: 1.5rem;
    padding: 2rem;
    height: 250px;
  }
  svg {
    position: absolute;
    right: -200px;
    bottom: -270px;
    width: 600px;
    height: 600px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .sentence {
    max-width: 80%;
    color: rgba(255, 255, 255, 0.49);
    // margin-bottom: 0;
    // font-size: 4rem;
  }
  .page-title {
    color: #fff;
    span {
      color: #07e99a;
    }
  }
}
